@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.sidebar-icon{
  @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
  text-secondary bg-gray-700 hover:rounded-xl hover:bg-secondary hover:text-white rounded-3xl transition-all duration-300;
}
.sidebar-tooltip{
  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md 
  text-white bg-gray-900 text-xs font-bold transition-all scale-0 duration-100 origin-left
}
}